@font-face{
    font-family:"refugia";
    src:url(refugiathree-Regular.woff); 
    font-weight:bold;
}

/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('noto-sans-kr-v13-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr-v13-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr-v13-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr-v13-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr-v13-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('noto-sans-kr-v13-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/noto-sans-kr-v13-latin_korean-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/noto-sans-kr-v13-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/noto-sans-kr-v13-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/noto-sans-kr-v13-latin_korean-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/noto-sans-kr-v13-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/noto-sans-kr-v13-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}





@keyframes main{
    0%{opacity: 1}
    10%{opacity: 0;}
    100%{opacity: 0}
}

@keyframes logo{
    0%{opacity: 0}
    100%{opacity: 1}
}


@keyframes point{
    0%{opacity: 0;}
    1%{opacity: 1;}
    100%{opacity: 1;}
}

html {
  height: -webkit-fill-available;
}

body{
    margin: 0px;
    padding: 0px;
   
    font-family: Noto Sans KR, sans-serif;
    font-weight: 700;

    font-style: normal;
    
    overflow-x: hidden;
    
    font-size: 6vw;
      
    
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    
}

#wrapper{
    width: 100%;
    height: 100%;
}

p{
    
    margin: 0px;
}

.br{
    display: block; 
    margin-bottom: 2vw;
}

ins{
    text-decoration: none;
}


#content{
    position: absolute;
    width: 94.5vw;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 2;
    overflow-x: hidden;
   
    
}

.imgname{
    width: 100%;
    
}

#header{
    position: relative;
    top:0px;
    
    width: 100%;
    height: 100%;
    
    
    z-index: 9;
    
    
}

#book{
    position: fixed;
    left: -1vw;
    top: 0vw;
    
    width: 15vw;
    height: auto;
    z-index: 10;
    
    filter:drop-shadow(5px 5px 8px #474643);
}

#language{
    position: absolute;
    right: 1.2vw;
    top:0vw;
    width: 10vw;
    height: 10vw;
    z-index: 10;
    border: 2px solid black;
    background-color: white;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 11vw;
}

#insta{
    position: relative;
    right:0vw;
    top:0vw;
    width: 15vw;
    height: auto;
    z-index: 10;
}

#youtube{
    position: relative;
    top:2px;
}
a{
    color: black;
    text-decoration: none;
    
}





#logo{
    position: absolute;
    top:7vh;
    left: 0vw;
    
    z-index: 9;
    
    width: 100%;
    animation: main;
    animation-delay: 6s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
    
    opacity: 0;
}


#point{
    position: absolute;
    left:18vw;
    top:0vh;
   
    width:65%;
    height: 15vh;
    
    
    z-index: 9;
    
    
}

#point2{
    position: absolute;
    left:18vw;
    top:15vh;
   
    width:65%;
    height: auto;
    
    
    z-index: 9;
    
    
}

.point{
    position: absolute;
    
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    z-index: 9;
}



#pt1{
    left:3%;
    top:0%;
    
    animation: point;
    animation-delay: 0.6s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt2{
    left:10%;
    top:3%;
    
    animation: point;
    animation-delay: 0.7s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt3{
    left:15%;
    top:5%;
    
    animation: point;
    animation-delay: 0.5s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt4{
    left:24%;
    top:0%;
    
    animation: point;
    animation-delay: 0.7s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt5{
    left: 26%;
    top:2%;
    
    animation: point;
    animation-delay: 0.9s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt6{
    left: 40%;
    top: 2%;
    
    animation: point;
    animation-delay: 1s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt7{
    left: 58%;
    top: 3%;
    
    animation: point;
    animation-delay: 0.5s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt8{
    left: 68%;
    top:8%;
    
    animation: point;
    animation-delay: 0.9s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt9{
    left: 76%;
    top:15%;
    
    animation: point;
    animation-delay: 0.8s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt10{
    left: 86%;
    top:2%;
    
    animation: point;
    animation-delay: 1.2s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt11{
    left:88%;
    top:5%;
    
    animation: point;
    animation-delay: 1.2s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

#pt12{
    left:99%;
    top:12%;
    
     animation: point;
    animation-delay: 1.4s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt13{
    left:-4%;
    top:22%;
    
    animation: point;
    animation-delay: 0.7s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

#pt14{
    left:14%;
    top:33%; 
    
    animation: point;
    animation-delay: 0.7s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

#pt15{
    left: 17%;
    top:41%;
    
    animation: point;
    animation-delay: 0.7s;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}
#pt16{
    left:30%;
    top:40%;
}
#pt17{
    left: 32%;
    top:42%;
}
#pt18{
    left: 38%;
    top:48%;
}
#pt19{
    left: 46%;
    top:39%
}
#pt20{
    left: 62%;
    top:44%;
}
#pt21{
    left: 75%;
    top:39%;
}
#pt22{
    left:85%;
    top:44%;
}
#pt23{
    left:94%;
    top:38%;
}
#pt24{
    left: 2%;
    top:22%;
}
#pt25{
    left:12%;
    top:15%;
}
#pt26{
    left:44%;
    top:11%;
}
#pt27{
    left:45%;
    top:13%;
}
#pt28{
    left:42%;
    top:12%;
}
#pt29{
    left:22%;
    top:55%;
}
#pt30{
    left:20%;
    top:56%;
}
#pt31{
    left:27%;
    top:54%;
}
#pt32{
    left: 75%;
    top: 50%;
}




#minilogo{
position: relative;
top:0px;
left:0px;

margin: 0 auto;    
z-index: 9;
width: 100vw;
height: auto;    
    
}



#hamburger{
position: fixed;
right: 4vw;
top:3vh;
z-index: 9;
}



.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 6px);
  transform: rotate(-45deg) translate(-2px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-1px, -7px);
  transform: rotate(45deg) translate(-1px, -7px);
}


#info{
    position: relative;
    top:0px;
    width: 100%;
    height: 100%;
    
    
    border: 2px solid black;
    background-color: white;
    z-index: 6;
    
    line-height: 11vw;
    
}


#infotext{
    position: relative;
    top:0px;
    width: 97%;
    height: auto;
    
    font-family: Noto Sans KR, sans-serif;
    font-weight: 700;

    font-style: normal;
    font-size: 6vw;
    line-height: 11vw;
    
    
    z-index: 9;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 0.5vw;
   
}

#sponsor{
    position: relative;
    padding-left: 15vw;
    margin-top: 5vw;

}

#sns{
    position: relative;
    padding-left: 33vw;
    top:-5vw;
    padding-bottom:   -4.5vw;
    padding-top:  5vw;
}


#game{
    position: absolute;
    width: 95.8%;
    height: 97%;
    
    top:50vh;
    
    border: 2px solid black;
    z-index: 9;
    background-color: white;
    
    cursor: url(cursor.png),auto;
    
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    overflow: hidden;
    display: block;
}

#out{
    position: absolute;
    right: -2px;
    top:-2px;
    width: 10vw;
    height: 10vw;
    background-color: black;
    color: white;
    text-align: center;
    display: none;
    
    
}

.gameobject{
    width: 60%;
    
}

.vanish{
    
    filter:blur(5px);
}

.gamevanish{
    width: 35%;
    display: none;
}


.companyobject{
    width: 30%;
    
}

.musroomobject{
    width: 30%;
    
}




#ob1{
    position: absolute;
    left:-18vw;
    top:-10vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

#ob2{
    position: absolute;
    left:2vw;
    top:-5vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}

#ob3{
    position: absolute;
    left: -5vw;
    top:40vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 1.4s;
    animation-fill-mode: both;
}

#ob4{
    position: absolute;
    left: 25vw;
    top:-5vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}

#ob5{
    position: absolute;
    left: 30vw;
    top:30vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 1.8s;
    animation-fill-mode: both;
}

#ob6{
    position: absolute;
    left: 55vw;
    top:30vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

#ob7{
    position: absolute;
    left: 58.5vw;
    top:12vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.2s;
    animation-fill-mode: both;
}

#ob8{
    position: absolute;
    left: 57vw;
    top:38vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.4s;
    animation-fill-mode: both;
}

#ob9{
    position: absolute;
    left: 42vw;
    top:15vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
}

#ob10{
    position: absolute;
    left: 38vw;
    top:0vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.6s;
    animation-fill-mode: both;
}

#ob11{
    position: absolute;
    left: 55vw;
    top:53vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.7s;
    animation-fill-mode: both;
}

#ob12{
    width: 50%;
    position: absolute;
    left:-6vw;
    top:24vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.8s;
    animation-fill-mode: both;
}

#ob13{
    width: 45%;
    position: absolute;
    left: 56vw;
    top:3vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.9s;
    animation-fill-mode: both;
}

#ob14{
    width: 35%;
    position: absolute;
    left: 33vw;
    top:15vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.9s;
    animation-fill-mode: both;
}

#ob15{
    width: 45%;
    position: absolute;
    left: 12vw;
    top:32vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

#ob16{
    position: absolute;
    left: 5vw;
    top:30vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.1s;
    animation-fill-mode: both;
}

#ob17{
    position: absolute;
    left: 55vw;
    top:70vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
}

#ob18{
    position: absolute;
    left: 33vw;
    top:35vh;
    
    transform: rotate(180deg);
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.3s;
    animation-fill-mode: both;
}

#ob19{
    position: absolute;
    left: 18vw;
    top:5vh;
    
    transform: rotate(180deg);
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.6s;
    animation-fill-mode: both;
}

#ob20{
    position: absolute;
    left: 65vw;
    top:32vh;
    
    transform: rotate(180deg);
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 2.8s;
    animation-fill-mode: both;
}

#ob21{
    position: absolute;
    left: -8vw;
    top:73vh;
    
    transform: rotate(180deg);
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

#ob22{
    position: absolute;
    left:-10vw;
    top:53vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.1s;
    animation-fill-mode: both;
    
}

#ob23{
    position: absolute;
    left: 5vw;
    top:60vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.1s;
    animation-fill-mode: both;
}

#ob24{
    position: absolute;
    left: -7vw;
    top:23vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.2s;
    animation-fill-mode: both;
}

#ob25{
    position: absolute;
    left:57vw;
    top:62vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.2s;
    animation-fill-mode: both;
}

#ob26{
    position: absolute;
    left:53vw;
    top:72vh;
   
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.3s;
    animation-fill-mode: both;
}

#ob27{
    position: absolute;
    left:34vw;
    top:45vh;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.4s;
    animation-fill-mode: both;
   
}

#ob28{
    position: absolute;
    left:22vw;
    top:68vh;
    
   animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.5s;
    animation-fill-mode: both;
}

#ob29{
    position: absolute;
    left:5vw;
    top:60vh;
    
    width: 47%;
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.5s;
    animation-fill-mode: both;
   
}

#ob30{
    position: absolute;
    left:37vw;
    top:62vh;
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.6s;
    animation-fill-mode: both;

}

#ob31{
    position: absolute;
    left:45vw;
    top:70vh;
    
 
}

#ob32{
    position: absolute;
    left:30vw;
    top:68vh;
    
  
}

#ob33{
    position: absolute;
    left:22vw;
    top:68vh;
    
  
}

#ob34{
    position: absolute;
    left:6vw;
    top:63vh;
    width: 40%;
    
   
}

#ob35{
    position: absolute;
    left:30vw;
    top:63vh;
    width: 40%;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

#ob36{
    position: absolute;
    left:55vw;
    top:0vh;
    width: 40%;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.2s;
    animation-fill-mode: both;
}

#ob37{
    position: absolute;
    left:6vw;
    top:63vh;
    width: 40%;
    
    animation: point;
    animation-duration: 0.1s;
    animation-delay: 3.4s;
    animation-fill-mode: both;
}


.bear{
    width: 60%;
    display: none;
}

#gameup{
  position: fixed;
  bottom: 10vw;
  right: 2.5vw;
  cursor: pointer;
    
  width: 15vw; 
  height: 15vw; 
  
  z-index: 9;
  display: none;   
    
 filter:drop-shadow(5px 5px 8px #474643);
}

#gamedown{
  position: absolute;
  top:7vh;    
  right: 3.5vw;
  cursor: pointer;
    
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 18px solid black;
      
  z-index: 9;
   
}

#works{
    position: relative;
    top:0px;
    width:100%;
    height:100%; 
    z-index: 4;
    
    
    
    
}



#artistlist{
    position: fixed;
    top:2vw;
    left: 2vw;
    width: 35%;
    height: 18%;
    text-align: left;
    border: 2px solid black;
    overflow-y: scroll;
    
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    font-size: 5vw;
    line-height: 8vw;
    background-color: white;
    z-index: 9;
    
}








  #menu{
    position: fixed;
    right: 0px;
    top:8vh;
    
     
    width: 0vw;
    height:100vh;
      
    z-index: 7;  
    overflow-x: hidden;
    overflow-y: scroll;
}
    
    #menulist{
    position: absolute;
    font-size: 7vw;     
    right:4vw;
    text-align: right;
    line-height: 5vw;
    z-index: 7; 
}

.creditch{
    position: relative;
    top:0px;
    width: 30vw;
    height: 8vh;
    
    font-size: 7vw;
    

    overflow-y: hidden;
    cursor: pointer;}

.credit{
    height: auto;
    line-height: 6vh;
    width: 100vw;
    overflow-x: visible;
}

.archivech{
    position: relative;
    right: 0px;
    top:0px;
    width: 30vw;
    height: 8vh;
    
    font-size: 7vw;
    line-height: 4vw;
    margin-bottom: 20vh;
    
    overflow-y: hidden;
    cursor: pointer;
}

.archive{
    height: auto;
}


.artists{
    position: relative;
    top:0px;
    width: 100%;
    height: 100%;
    
    padding-top: 2vw;
    padding-bottom: 2vw;
    
    
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    
    
    background-color: white;
}





.subject{
    
    font-style: italic;
    
}

i{
    text-decoration: none;
    

font-style: italic;
font-size: 6vw;
line-height: 11vw;    
}

.text{
    
    
font-family: Noto Sans KR, sans-serif;
font-weight: 700;    
font-style: bold;
    


font-size: 6vw;
line-height: 11vw;
    
}

mark{
    
    
    
}



audio{
    padding-left: 2vw;
    width: 95%;
    margin-bottom:  -1vw;
    
}

.artistinfo{
    
    
    z-index: 8;
    padding-left: 2vw;
    padding-right: 2vw;    

    
    line-height: 11vw;
    
}

.LOOP{
    
    font-family: refugia;
    padding-left: 3px;
    padding-right: 3px;
    
    line-height: 11vw;
}

.tbs{
    position: relative;
    top:1vw;
    
    font-family: refugia;
    padding-left: 3px;
    padding-right: 3px;
    
   
}

.web{
    position: relative;
    top:0.5vw;
    
    font-family: refugia;
    padding-left: 2px;
    padding-right: 3px;
    

}

.artistname{
    font-family: refugia;
    margin-top: 1vh;
    font-size: 18vw;
    text-align: center;
    line-height: 9vh;
}

.workpage{
    position: relative;
    width: 100%;
    height: auto;
    
    margin-top: 0vw;
    margin-bottom: 3vw;
    
    z-index: 8;
}

.biounder{
    text-decoration: underline;
}

del{
    text-decoration: none;
    letter-spacing: -0.5px;
    
}

.workpageaudio{
    position: relative;
    width: 100%;
    height: auto;
    
    margin-top: 2vw;
    margin-bottom: 2vw;
    
    
    
    z-index: 8;
}

.statement{
    
    position: relative;
    padding-left: 2vw;

    padding-right: 2vw;  
    
    z-index: 7;
    
    
    
}

.bio{
    
    
    z-index: 7;
    
    padding-left: 2vw;

    padding-right: 2vw;  
    padding-top: 5vw;
    
   
}

.map{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4;
}



#credit{
    position: relative;
    top:-2px;
    padding: 2vw;
    width: 95.9%;
    height: auto;
    background-color: white;
    border: 2px solid black;
    line-height: 11vw;
}

