@keyframes back{
    0%{z-index: 6}
    15%{z-index: 5}
    30%{z-index: 4}
    45%{z-index: 3}
    70%{z-index: 2}
    100%{z-index: 1}
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/noto-sans-kr-v13-latin_korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-kr-v13-latin_korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/noto-sans-kr-v13-latin_korean-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-kr-v13-latin_korean-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#window{
    position: absolute;
    left:0px;
    top:0px;
    
    width: 100vw;
    height: 100vh;
    
    border: none;
 
    
}

body{
    margin: 0px;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    
    font-family: Noto Sans KR,sans-serif;
    font-weight: 900;
}

.background{
    display: none;
    
}

#back1{
    animation: back;
    animation-duration: 1080s;
    animation-delay: 0;
    
    animation-iteration-count: infinite;
}

#back2{
    animation: back;
    animation-duration: 1080s;
    animation-delay: 180s;
    
    animation-iteration-count: infinite;
}

#back3{
    animation: back;
    animation-duration: 1080s;
    animation-delay: 360s;
    
    animation-iteration-count: infinite;
}

#back3{
    animation: back;
    animation-duration: 1080s;
    animation-delay: 540s;
    
    animation-iteration-count: infinite;
}

#back4{
    animation: back;
    animation-duration: 1080s;
    animation-delay: 720s;
    
    animation-iteration-count: infinite;
}

#back5{
    animation: back;
    animation-duration: 1080s;
    animation-delay: 1080s;
    
    animation-iteration-count: infinite;
}

#back6{
    animation: back;
    animation-duration: 1080s;
    animation-delay: 1260s;
    
    animation-iteration-count: infinite;
}

@media only screen and (min-width:768px) {
    #window{
        position: fixed;
        left: 38vw;
        top:8vh;
        width: 23vw;
        height: 41.4vw;
        z-index: 9;
    }
    
    .background{
        display: block;
        position: absolute;
        left: -15vw;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        
        
        
}

}