@font-face{
    font-family:"refugia";
    src:url(refugiathree-Regular.woff); 
    font-weight:bold;
}

@keyframes main{
    0%{opacity: 1}
    100%{opacity: 0}
    
}

@keyframes info{
    0%{opacity: 0;}
    50%{opacity: 1;}
    70%{opacity: 1;}
    100%{opacity: 1;}
    
    
}

@keyframes disappear{
    0%{opacity: 0;}
    50%{opacity: 1;}
    75%{opacity: 0;}
    100%{opacity: 0;}
    
}

@keyframes game{
    0%{top: 100vh;}
    100%{top:0vh;}
    
}

body{
    margin: 0px;
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    
    font-weight: bold;
}





#customPointer{
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}



#logo{
    position: absolute;
    left: 5vw;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    line-height: 0px;
}






#content{
    position: absolute;
    width: 100vw;
    height: 93vh;
    
    top:7vh;
    
    
    overflow-y: hidden;
}

#main{
    position: absolute;
    top:100vh;
    
    transition-duration: 0.9s;
    transition-delay: 0.1s;
}

#intro{
    position: absolute;
    width: 30vw;
    height: 30vh;
    
    left: 60vw;
    top:55vh;
    
    z-index: 8;
    opacity: 1;
}


#back{
    position: absolute;
    width: 100vw;
    height: 93vh;
    
    
}

.back{
    position: absolute;
    width: 100%;
}

.backtwo{
    position: absolute;
    width: 100%;
    top:30vh;
}

.backthree{
    position: absolute;
    width: 100%;
    top:60vh;
}

#icon{
    position: absolute;
    width: 100vw;
    height: 93vh;
    
    z-index: 8;
}

.icon{
    width: 38%;
    
}

.about{
    position: absolute;
    top:5vh;
    left: 40vw;
}

.works{
    position: absolute;
    top:18vh;
    left:12vw;
    
    
}

.credit{
    position: absolute;
    top:40vh;
    left:50vw;
}

.radio{
    width: 23%;
    position: absolute;
    top:45vh;
    left:15vw;
}

.schedule{
    position: absolute;
    top:68vh;
    left:48vw;
}

#touch{
    position: absolute;
    width: 100vw;
    height: 93vh;
}

.mushroom{
    width: 20%;
    opacity: 1;
    
    z-index: 9;
}

#msone{
   position: absolute;
    top:55vh;
    left:15vw;
    
}

#mstwo{
   position: absolute;
    top:65vh;
    left:4vw;
    width: 30%;
}

#msthree{
   position: absolute;
    top:67vh;
    left:70vw;
    
    
}

#msfour{
   position: absolute;
    top:60vh;
    left:50vw;
}

#seedone{
   position: absolute;
    width: 18%;
    top:45vh;
    left:70vw; 
}

#seedtwo{
    position: absolute;
    width: 18vw;
    top:80vh;
    left:30vw;
}

#pageone{
    position: absolute;
    top: 100vh;
    
    width: 100vw;
    height: 93vh;
    
    background-color: white;
    transition-duration: 0.9s;
    transition-delay: 0.1s;
    
    z-index: 9;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
    
    
}

#left{
    padding-left: 15vw;
    padding-right: 10vw;
    padding-top: 5vh;
    
    line-height: 50px;
}

#right{
    padding-left: 10vw;
    padding-right: 15vw;
    padding-top: 5vh;
    
    line-height: 50px;
}

.backspace{
    position: absolute;
    right: 15px;
    font-size: 4vw;
    font-weight: lighter;
    
    
}





---

.wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    
   cursor: url("cursor.png") ,auto;
}

#black{
    position: absolute;
    width: 100vw;
    height: 60vh;
    
    color: white;
    background-image: linear-gradient(black, white);
   
}

#white{
    position: absolute;
    width: 100vw;
    height: 40vh;
    
    z-index: 6;
    
    
}

#game{
    cursor: url("cursor.png") ,auto;
    z-index:9;
    
    position: relative;
    height: 60vh;
    animation: game;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

#header{
    position: absolute;
    width: 100vw;
    height: 3vh;
    
    padding-top: 2vh;
    
}

#hamburger{
    position: absolute;
    right: 3vw;
    top:5px;
    z-index: 9;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 6px);
  transform: rotate(-45deg) translate(-3px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -7px);
  transform: rotate(45deg) translate(-4px, -7px);
}

#menu{
    position: absolute;
    right: 0px;
    top: 5vh;
    
    width: 0vw;
    height: 43vh;
    
    background-color: white;
    color: black;
    
    overflow-x: hidden;
    z-index: 9;
    transition: 1s;
}

#menulist{
    position: absolute;
    
    right: 3vw;
    text-align: right;
    overflow-x: hidden;
   
}


#blackcontent{
    padding: 5vw;
}

#mainlogo{
    position: absolute;
    
    text-align: center;
    
    z-index: 8;
    
    font-family: refugia;
    font-size:50px;
    
    animation: main;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#mainlist{
    position: absolute;
    z-index: 7;
    top: 5vh;
    max-width: 80vw;
    font-size: 3vw;
    line-height: 5vw;
    transition: 1s;
    z-index: 8;

}

#exhibition{
    animation: disappear;
    animation-delay: 2.5s;
    animation-duration: 8s;
    
    opacity: 0;
}

#artist{
    animation: info;
    animation-delay: 3s;
    animation-duration: 8s;
    animation-fill-mode: both;
    z-index: 8;
}

#other{
    animation: disappear;
    animation-delay: 3.5s;
    animation-duration: 8s;
    opacity: 0;
}


a{
    cursor: pointer;
}



#jiachang{
    position: absolute;
    left: 0px;
    top:100vh;
    
    width: 100vw;
    height: 80vh;
    
  
    
    z-index: 10;
    
   
    transition: 1s;
    padding-right: 20vw;
    
}

.iframe{
    position: absolute;
    left: -30vw;
    width: 100%;
    height: 100%;
    
}

.artistcontent{
    position: absolute;
    
    margin-left: 4vw;
    width: 70%;
    height: 100%;
}

.artistwork{
    height: 50%;
    margin-top: 5vw;
    background-color: gainsboro;
    opacity: 0.7;
}

.artisttext{
    height: 30%;
    margin-top: 5vw;
    background-color: gainsboro;
    opacity: 0.7;
}



.button{
    z-index: 9;
    display: inline;
    cursor: pointer;
}


@media only screen and (min-width:768px) {
   .wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
       
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
    
    #black{
    position: absolute;
    width: 60vw;
    height: 100vh;
        
    background-image: linear-gradient(to right, black , white);
    color: white;
        
    
}

#white{
    position: absolute;
    width: 40vw;
    height: 100vh;
    overflow-y: hidden;
}
    
#hamburger{
    left: 2vw;
    top:2vh;

}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color:white;
  margin: 4px 0;
  transition: 0.4s;
}
    
    #menu{
    position: absolute;
    left: 0px;
    top:8vh;
    
    width: 0vw;
    height: 43vh;
    
}
    
    #menulist{
    position: absolute;
    
    left: 2.5vw;
    text-align: left;
}
    
    #mainlist{
    position: absolute;
    z-index: 7;
    top: 10vh;
    max-width: 40vw;
    font-size: 1.5vw;
    line-height: 2.5vw;
    
}
    
}